<template>
  <div class="app-container">
      <h1>Kategori Kesehatan</h1>
    <!-- filter -->
    <div class="filter-container">
      <el-row>
        <el-col :span="20">
          <el-button class="filter-item"  style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="formtambah = true">
          Tambah
          </el-button>
        </el-col>
        <!-- search -->
        <el-col :span="4">
          <el-input
          v-model="search"
          size="default"
          class="filter-item"
          style="width: 200px;"
          placeholder="cari nama kategori"/>
        </el-col>
      </el-row>

      <!-- dialog add data -->
      <el-dialog 
      title="Tambah Kategori Kesehatan" 
      :visible.sync="formtambah"
      width="50%"
      :before-close="handleClose"
      >
        <el-form :model="post" :label-position="labelPosition" :rules="rulesform" ref="paramref">

         <el-form-item label="Kategori" :label-width="formLabelWidth" prop="kategori" >
            <el-input v-model="post.kategori" placeholder="masukkan nama kategori"></el-input>
          </el-form-item>

           <el-form-item label="Jenis" :label-width="formLabelWidth" prop="jenis" >
            <el-input v-model="post.jenis" placeholder="masukkan nama jenis"></el-input>
          </el-form-item>

        </el-form>
     
        <el-button style="margin-left: 10px;" type="primary" @click="PostAdd('paramref')">
        Tambah
        </el-button>
        <span slot="footer" class="dialog-footer"></span>
      </el-dialog>

      <!-- dialog edit data -->
      <el-dialog 
      title="Edit Data" 
      :visible.sync="formedit" 
      width="50%"
      :before-close="handleClose"
      >
        <el-form :model="update" :label-position="labelPosition" :rules="rulesform" ref="paramupd">

          <el-form-item label="Kategori" :label-width="formLabelWidth" prop="kategori" >
            <el-input v-model="update.kategori" placeholder="masukkan nama kategori"></el-input>
          </el-form-item>

          <el-form-item label="Jenis" :label-width="formLabelWidth" prop="jenis" >
          <el-input v-model="update.jenis" placeholder="masukkan nama jenis"></el-input>
          </el-form-item>

        </el-form>

      <el-button   style="margin-left: 10px;" type="primary" @click="PostUpdate('paramupd')">
        Update
      </el-button>

    </el-dialog>

    </div>

    <!-- tabel -->
    <el-table
    :data="pagedTableData"
    bordered
    fit
    highlight-current-row
    style="width: 100%;"
    :default-sort="{prop: 'id', order: 'descending'}"
    >
      <el-table-column label="ID" min-width="150px" prop="id" sortable >
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.id }}</span>
        </template>
      </el-table-column>
      
      <el-table-column label="Kategori" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.kategori }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Jenis" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.jenis }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="150" fixed="right"
      class-name="small-padding fixed-width">
        <template slot-scope="{row}">

          <el-button
          type="primary"
          size="mini"
          @click="PostEdit(row.id, row.kategori, row.jenis)"
          >Edit</el-button>
         
          <el-button
          type="danger"
          size="mini"
          @click="handleDelete(row.id)"
          >Delete</el-button>

        </template>
      </el-table-column>
      
    </el-table>

    <!-- pagination -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.length">
    </el-pagination>
    
  </div>
</template>

<script>
import axios from 'axios'

export default {
  components: {},
  data() {

    //validasi
    // rule parameter rules form
    var cekkategori = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan kategori'));
      }
    };

    var cekjenis = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan jenis'));
      }
    };

    

    return {
      search: null,
      sortRule:{prop:null, order:null},//sorting
      listLoading: true,
      tableData:[],
      
      currentPage: 1,
      pagesize:10,

      formtambah: false,
      formedit: false,

      labelPosition: 'left',
      formLabelWidth: '160px',
      post: {kategori:'',jenis:''},
      update: {kategori:'',jenis:''},
        
      //validasi
      rulesform: {
        kategori:[{validator: cekkategori, required: "true", trigger: 'blur'}],

        jenis:[{validator: cekjenis, required: "true", trigger: 'blur'}],
      },
    }

    
  },
  computed: {
    
    pagedTableData() {
      if(this.search){
        //search
        return this.tableData.filter( data => !this.search || data.kategori.toLowerCase().includes(this.search.toLowerCase()) )
      }
      else{
        //slice data
        return this.tableData.slice(this.pagesize * this.currentPage - this.pagesize, this.pagesize * this.currentPage)
      }
    },

  },
  created() {
    this.getList()
  },
  methods: {
    //sorting
     afterCrudRefresh() {
      if (this.tableData.length > 0) {
          this.oldData.length = 0
          this.tableData.forEach(item => {
          this.oldData.push(item) 
        })
      }
      if (this.$refs.table) this.$refs.table.clearSort()
    },
    sortChange(column) {
      const prop = column.prop
      if (prop) {
        this.proptype = prop
        
        if (column.order === 'ascending') {
          this.tableData = this.tableData.sort(this.ascSortFun)
        } else if (column.order === 'descending') {
          this.tableData = this.tableData.sort(this.desSortFun)
        } else {
          this.oldData.forEach(item => {
          this.tableData.push(item) 
          })
        }
      }
    },
    ascSortFun(a, b) {
      if (!this.isNumber(a[this.proptype])) {
        const aLength = a[this.proptype] === null ? 0 : a[this.proptype].length
        const bLength = b[this.proptype] === null ? 0 : b[this.proptype].length
        return aLength - bLength
      } else {
        return a[this.proptype] - b[this.proptype]
      }
    },
    desSortFun(a, b) {
      if (!this.isNumber(a[this.proptype])) {
        const bLength = b[this.proptype] === null ? 0 : b[this.proptype].length
        const aLength = a[this.proptype] === null ? 0 : a[this.proptype].length
        return bLength - aLength
      } else {
        return b[this.proptype] - a[this.proptype]
      }
    },
    isNumber(val) {
      var regPos = /^\d+(\.\d+)?$/ // 非负浮点数
      var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/ // 负浮点数
      if (regPos.test(val) || regNeg.test(val)) {
        return true
      } else {
        return false
      }
    },
    //sorting

    handleClose(done) {
      this.$confirm('Apakah Anda yakin untuk menutup dialog ini?')
      .then(_ => {
          done();
      })
      .catch(_ => {});
    },
    
    handleSizeChange(size) {
      this.pagesize = size;
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
    },
    
    getList() {
      this.listLoading = true //data loading 
      //get data API with axios
      axios.get('http://127.0.0.1:8000/api/katkes').then(response => {
      this.tableData = response.data.data;
      });

      // Just to simulate the time of the request
      setTimeout(() => {
      this.listLoading = false
      }, 1.5 * 1000)
  },

    PostAdd(getparamref) {

      //menampilkan validasi rules
      this.$refs[getparamref].validate((nilaiparam) => {
        //nilai true/false
        if (nilaiparam) {console.log('submit!');}else {console.log('error submit!!'); return false;}
      });
      
      //validasi
      if(this.post.kategori===''){}
      else if(this.post.jenis===''){}
      else{
        // ....
        axios.post('http://localhost:8000/api/katkes', {
            kategori: this.post.kategori,
            jenis: this.post.jenis,
        })
        .then(res => {
            // handle success
            this.getList();
            this.post.kategori = '';
            this.post.jenis = '';
            this.formtambah = false;
            console.log('sukses tambah data!');

        })
        .catch(err => {
            // handle error
            console.log(err);
            console.log('gagal tambah data!');
        })
      }

      // if(this.post.kategori){
      //   axios.post('http://localhost:8000/api/katkes', {
      //       kategori: this.post.kategori,
      //       jenis: this.post.jenis,
      //   })
      //   .then(res => {
      //       // handle success
      //       this.getList();
      //       this.post.kategori = '';
      //       this.post.jenis = '';
      //       this.formtambah = false;
      //   })
      //   .catch(err => {
      //       // handle error
      //       console.log(err);
      //   })
      // }
    },

    PostEdit: function(row, kategori, jenis) {
      this.formedit = true;
      this.id = row;
      this.update.kategori = kategori;
      this.update.jenis= jenis;
    },
    PostUpdate(getparamref) {

      //menampilkan validasi rules
      this.$refs[getparamref].validate((nilaiparam) => {
        //nilai true/false
        if (nilaiparam) {console.log('submit!');}else {console.log('error submit!!'); return false;}
      });
      
      //validasi
      if(this.update.kategori===''){}
      else if(this.update.jenis===''){}
      else{
        // 
        axios.put(`http://127.0.0.1:8000/api/katkes/${this.id}`, {
        kategori: this.update.kategori,
        jenis: this.update.jenis,
        })
        .then(res => {
            // handle success
            this.getList();
            this.formedit = false;
        })
        .catch(err => {
            // handle error
            console.log(err);
        })
      }
     
    //  axios.put(`http://127.0.0.1:8000/api/katkes/${this.id}`, {
    //     kategori: this.update.kategori,
    //     jenis: this.update.jenis,
    //   })
    //   .then(res => {
    //       // handle success
    //       this.getList();
    //       this.formedit = false;
    //   })
    //   .catch(err => {
    //       // handle error
    //       console.log(err);
    //   })
    },
    handleDelete(row) 
    {
      this.$confirm(`Ini akan menghapus ID ${row} secara permanen. Lanjutkan?`, 'Peringatan',{
      confirmButtonText: 'OK',
      cancelButtonText: 'Cancel',
      type: 'warning'
      }).then(() => 
      {
        axios.delete(`http://127.0.0.1:8000/api/katkes/${row}`)
        .then(res => {
            // handle success
            this.getList();
        })
        .catch(err => {
            // handle error
            console.log(err);
        })
      }).catch(() => {
          // this.tampilkanpesan("error gak bisa hapus");
          this.$message({
          type: 'info',
          message: `Hapus ID ${row} Gagal`
          });
      });
    },

  }
}
</script>
