<template>
  <div class="app-container">
    <!-- title -->
    <h1>Lab Klinik</h1>

    <!-- filter -->
    <el-row>
      <el-col :span="20">
        <el-button type="primary" icon="el-icon-edit" @click="formtambah = true">
        Tambah
        </el-button>
      </el-col>
      <!-- search -->
      <el-col :span="4">
        <el-input
        v-model="search"
        size="default"
        placeholder="cari nama pasien"/>
      </el-col>
    </el-row>

    <!-- dialog add data -->
    <el-dialog 
      title="Tambah Lab Klinik" 
      :visible.sync="formtambah"
      width="50%"
      :before-close="handleClose"
      >
        <el-form :model="post" :rules="rulespost" :label-position="labelPosition" ref="paramref" >

          <el-form-item label="Nama Pasien" :label-width="formLabelWidth" prop="id_pasien" >
            <el-select
            v-model="post.id_pasien"
            filterable
            remote
            collapse-tags
            reserve-keyword
            placeholder="cari nama pasien atau tekan spasi"
            :remote-method="remoteMethod"
            :loading="loading" 
            style="width:100%">
              <el-option
              v-for="item in optionPasien"
              :key="item.value"
              :label="item.label"
              :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        
          <el-form-item label="Kategori Kesehatan" :label-width="formLabelWidth" prop="katkes">
             <el-select
            v-model="post.katkes"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="cari katkes atau tekan spasi"
            :remote-method="remoteKategori"
            :loading="loading" 
            style="width:100%">
              <el-option
              v-for="item in optionskategori"
              :key="item.id"
              :label="item.label"
              :value="item.value">
              </el-option>
            </el-select>
          </el-form-item> 

          <el-form-item label="Nama Dokter" :label-width="formLabelWidth" prop="nama_dokter" >
            <el-input v-model="post.nama_dokter" placeholder="ketik nama dokter" autocomplete="off"></el-input>
          </el-form-item>

          <el-form-item label="Diagnosa"  :label-width="formLabelWidth" prop="diagnosa" >
            <el-input v-model="post.diagnosa" 
            placeholder="ketik diagnosa"  autocomplete="off"></el-input>
          </el-form-item>

          <el-form-item label="Tgl Permintaan" :label-width="formLabelWidth" prop="tgl_permintaan" >
            <el-date-picker v-model="post.tgl_permintaan" type="date" format="dd-MM-yyyy" value-format="dd-MM-yyyy" placeholder="Masukkan Tgl permintaan" style="width: 100%;"></el-date-picker>
          </el-form-item>
        </el-form>

        <el-button   style="margin-left: 10px;" type="primary" @click="PostAdd('paramref')">
          Tambah
        </el-button>

        <span slot="footer" class="dialog-footer">
        </span>
    </el-dialog>

    <!-- dialog edit data -->
    <el-dialog 
    title="Edit Data" 
    :visible.sync="formedit" 
    width="50%"
    :before-close="handleClose"
    >
      <el-form :model="update" :rules="rulesupd" :label-position="labelPosition" ref="paramref">

        <el-form-item label="Nama Pasien" :label-width="formLabelWidth" prop="id_pasien" >
            <el-select
            v-model="update.id_pasien"
            filterable
            remote
            collapse-tags
            reserve-keyword
            placeholder="cari nama pasien"
            
            :remote-method="remoteMethod"
            :loading="loading" 
            style="width:100%">
              <el-option
              v-for="item in optionPasien"
              :key="item.value"
              :label="item.label"
              :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="Kategori Kesehatan" :label-width="formLabelWidth" prop="katkes" >
            <el-select
            v-model="update.katkes"
            filterable
            remote
            disabled
            reserve-keyword
            placeholder="cari jenis kategori atau tekan spasi"
            :remote-method="remoteKategori"
            :loading="loading" 
            style="width:100%; margin-bottom: 1%;">
              <el-option
              v-for="item in optionskategori"
              :key="item.id"
              :label="item.label"
              :value="item.value">
              </el-option>
            </el-select>

            <!-- <el-switch v-model="value1"></el-switch> -->
              Edit kategori
            <el-switch
              v-model="sw"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-value=true
              inactive-value=false
              @change="switchstatus()"
              >
            </el-switch>
            <!-- hide kategori -->
            <div v-show="editkategori">
              <el-select
              v-model="update.updkatkes"
              multiple
              filterable
              remote
              reserve-keyword
              placeholder="cari jenis kategori atau tekan spasi"
              :remote-method="remoteKategori"
              :loading="loading" 
              style="width:100%">
                <el-option
                v-for="item in optionskategori"
                :key="item.id"
                :label="item.label"
                :value="item.value">
                </el-option>
              </el-select>
            </div>

          </el-form-item> 

          <el-form-item label="Nama Dokter" :label-width="formLabelWidth" prop="nama_dokter" >
            <el-input v-model="update.nama_dokter" placeholder="ketik nama dokter" autocomplete="off"></el-input>
          </el-form-item>

          <el-form-item label="Diagnosa"  :label-width="formLabelWidth" prop="diagnosa" >
            <el-input v-model="update.diagnosa" 
            placeholder="ketik diagnosa"  autocomplete="off"></el-input>
          </el-form-item>

          <el-form-item label="Tgl Permintaan" :label-width="formLabelWidth" prop="tgl_permintaan" >
            <el-date-picker v-model="update.tgl_permintaan" type="date" format="dd-MM-yyyy" value-format="dd-MM-yyyy" placeholder="Masukkan Tgl permintaan" style="width: 100%;"></el-date-picker>
          </el-form-item>

      </el-form>

      <el-button style="margin-left: 10px;" type="primary" @click="PostUpdate('paramref')">
        Update
      </el-button>

    </el-dialog>

    <!-- tabel -->
    <el-table
    :data="pagedTableData"
    bordered
    fit
    highlight-current-row
    style="width: 100%;"
    :default-sort="{prop: 'id', order: 'ascending'}"
    >
      
      <el-table-column label="ID" min-width="150px" prop="id" sortable >
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.id }}</span>
        </template>
      </el-table-column>
      
      <el-table-column label="Pasien" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.id_pasien }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Kategori" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.katkes }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Dokter" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.nama_dokter }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Diagnosa" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.diagnosa }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Tgl Permintaan" min-width="150px">
        <template slot-scope="{row}">
          <span class="link-type" >{{ row.tgl_permintaan }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="150" fixed="right"
      class-name="small-padding fixed-width">
        <template slot-scope="{row}">

          <el-button
          type="primary"
          size="mini"
          @click="PostEdit(row.id, row.id_pasien, row.nama_dokter, row.diagnosa, row.tgl_permintaan, row.katkes)"
          >Edit</el-button>
         
          <el-button
          type="danger"
          size="mini"
          @click="handleDelete(row.id)"
          >Delete</el-button>

        </template>
      </el-table-column>
      
    </el-table>

    <!-- pagination -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.length">
    </el-pagination>
    
  </div>
</template>


<script>
import axios from 'axios'

export default {
  components: {},
  data() {
    
    //validasi
    // rule parameter rules form
    var cekpasien = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('cari nama pasien atau melihat data pasien dengan menekan spasi'));
      }
    };

    var cekkatkes = (rule, value, callback) => {
      if (!value.length) {
        return callback(new Error('cari jenis kesehatan atau melihat data jenis kesehatan dengan menekan spasi'));
      }
    };

    var cekdokter = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan nama dokter'));
      }
    };

    var cekdiagnosa = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan diagnosa anda'));
      }
    };

    var cektgl = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan tanggal'));
      }
    };

    return {
      isFormValidated : false,
      search: null,
      sortRule:{prop:null, order:null},//sorting
      listLoading: true,
      tableData:[],
      
      currentPage: 1,
      pagesize:10,

      formtambah: false,
      formedit: false,

      labelPosition: 'left',
      formLabelWidth: '160px',
      post: { 
        id_pasien:'',
        katkes:[],
        nama_dokter:'',
        diagnosa:'',
        tgl_permintaan:'',
      },
      update: {
        id_pasien:'',
        updkatkes:[],
        nama_dokter:'',
        diagnosa:'',
        tgl_permintaan:'',
      },

      //selection nama pasien
      optionPasien: [],
      //selection kategori
      optionskategori: [],
      optionsjenis: [],
      loading: false,
      //edit kategori
      editkategori: false,
      sw: false,

      //validasi
      rulespost: {
        id_pasien:[{validator: cekpasien, required: "true", trigger: 'change'}],
        katkes:[{validator: cekkatkes, required: "true", trigger: 'change'}],
        nama_dokter:[{validator: cekdokter, required: "true",trigger: 'blur'}],
        diagnosa:[{validator: cekdiagnosa, required: "true",trigger: 'blur'}],
        tgl_permintaan:[{validator: cektgl, required: "true",trigger: 'blur'}]
      },

      rulesupd: {
        id_pasien:[{validator: cekpasien, required: "true", trigger: 'change'}],
        nama_dokter:[{validator: cekdokter, required: "true",trigger: 'blur'}],
        diagnosa:[{validator: cekdiagnosa, required: "true",trigger: 'blur'}],
        tgl_permintaan:[{validator: cektgl, required: "true",trigger: 'blur'}]
      }

    }
  },

  computed: {

    pagedTableData() {
      if(this.search){
        //search
        return this.tableData.filter( data => !this.search || data.id_pasien.toLowerCase().includes(this.search.toLowerCase()) )
      }
      else{
        //slice data
        return this.tableData.slice(this.pagesize * this.currentPage - this.pagesize, this.pagesize * this.currentPage)
      }
    },
  },
  created() {
    this.getList()
  },

  methods: {
    // switch edit kategori
    switchstatus(){
      console.log(this.sw);
      if(this.sw === 'true'){this.editkategori=true;}
      if(this.sw === 'false'){this.editkategori=false;}
    },
    
    remoteKategori(query) {
      var vm = this
      if (query !== '') {
        axios.get('http://127.0.0.1:8000/api/katkes?search=' + query).then(function (query) {
            vm.optionskategori = query.data.map(item => {
              return {
                value:`${item.kategori} - ${item.jenis}`, 
                label: `${item.kategori} - ${item.jenis}`
              };
            })
        })
      } else {
        vm.optionskategori = [];
      }
    },

    // selection data pasien
    remoteMethod(query) {
      var vm = this
      if (query !== '') {
        axios.get('http://127.0.0.1:8000/api/pasien?search=' + query).then(function (query) {
            vm.optionPasien = query.data.map(item => {
              return {
                value:`${item.nama_lengkap}`, 
                label:item.nama_lengkap
              };
            })
        })
      } else {
        vm.optionPasien = [];
      }
    },

    //sorting
    afterCrudRefresh() {
      if (this.tableData.length > 0) {
          this.oldData.length = 0
          this.tableData.forEach(item => {
          this.oldData.push(item) 
        })
      }
      if (this.$refs.table) this.$refs.table.clearSort()
    },
    sortChange(column) {
      const prop = column.prop
      if (prop) {
        this.proptype = prop
        
        if (column.order === 'ascending') {
          this.tableData = this.tableData.sort(this.ascSortFun)
        } else if (column.order === 'descending') {
          this.tableData = this.tableData.sort(this.desSortFun)
        } else {
          this.oldData.forEach(item => {
          this.tableData.push(item) 
          })
        }
      }
    },
    ascSortFun(a, b) {
      if (!this.isNumber(a[this.proptype])) {
        const aLength = a[this.proptype] === null ? 0 : a[this.proptype].length
        const bLength = b[this.proptype] === null ? 0 : b[this.proptype].length
        return aLength - bLength
      } else {
        return a[this.proptype] - b[this.proptype]
      }
    },
    desSortFun(a, b) {
      if (!this.isNumber(a[this.proptype])) {
        const bLength = b[this.proptype] === null ? 0 : b[this.proptype].length
        const aLength = a[this.proptype] === null ? 0 : a[this.proptype].length
        return bLength - aLength
      } else {
        return b[this.proptype] - a[this.proptype]
      }
    },
    isNumber(val) {
      var regPos = /^\d+(\.\d+)?$/ // 非负浮点数
      var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/ // 负浮点数
      if (regPos.test(val) || regNeg.test(val)) {
        return true
      } else {
        return false
      }
    },

    handleClose(done) {
      this.$confirm('Apakah Anda yakin untuk menutup dialog ini?')
      .then(_ => {
          done();
      })
      .catch(_ => {});
    },
    
    handleSizeChange(size) {
      this.pagesize = size;
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
    },
      
    getList() {
      this.listLoading = true //data loading 
      //get data API with axios
      axios.get('http://127.0.0.1:8000/api/labklinik').then(response => {
      this.tableData = response.data.data;
      });
      // Just to simulate the time of the request
      setTimeout(() => {
      this.listLoading = false
      }, 1.5 * 1000)
    },

    PostAdd(getparamref) {
      //menampilkan validasi rules
      this.$refs[getparamref].validate((nilaiparam) => {
        //nilai true/false
        if (nilaiparam) {console.log('submit!');}else {console.log('error submit!!'); return false;}
      });
      
      //validasi
      if(this.post.id_pasien===''){
        console.log('pasien kosong');
      }
      else if(this.post.katkes.length===0){
        console.log('katkes kosong');
      }
      else if(this.post.nama_dokter===''){
        console.log('dokter kosong');
      }
      else if(this.post.diagnosa===''){
        console.log('diagnosa kosong');
      }
      else if(this.post.tgl_permintaan.length===0){
        console.log('tgl permintaan kosong');
      }
      else{
        axios.post('http://localhost:8000/api/labklinik', {
        id_pasien: this.post.id_pasien,
        katkes: `${this.post.katkes}`,
        nama_dokter: this.post.nama_dokter,
        diagnosa: this.post.diagnosa,
        tgl_permintaan: this.post.tgl_permintaan,
        })
        .then(res => {
        // handle success
        this.getList();
        //hapus data input sebelumnya
        this.post.id_pasien = '';
        this.post.katkes = '';
        this.post.nama_dokter = '';
        this.post.diagnosa = '';
        this.post.tgl_permintaan = '';
        //kembali ke tabel
        this.formtambah = false;
        })
        .catch(err => {
        // handle error
        console.log(err);
        })
        console.log('semua terisi');
      }
      
    },

    PostEdit: function(row, id_pasien, nama_dokter, diagnosa,tgl_permintaan,katkes) {
      console.log(katkes);
      this.formedit = true;
      this.id = row;
      this.update.id_pasien = id_pasien;
      this.update.katkes = katkes;
      this.update.nama_dokter= nama_dokter;
      this.update.diagnosa= diagnosa;
      this.update.tgl_permintaan= tgl_permintaan;
    },

    PostUpdate(getparamref) {

      //menampilkan validasi rules
      this.$refs[getparamref].validate((nilaiparam) => {
        //nilai true/false
        if (nilaiparam) {console.log('submit!');}else {console.log('error submit!!'); return false;}
      });
      
      //sw = switch edit true/false
      // if(this.sw==='true'){
      //   axios.put(`http://127.0.0.1:8000/api/labklinik/${this.id}`, {
      //   id_pasien: this.update.id_pasien,
      //   katkes: this.update.updkatkes,
      //   nama_dokter: this.update.nama_dokter,
      //   diagnosa: this.update.diagnosa,
      //   tgl_permintaan: this.update.tgl_permintaan,
      //   })
      //   .then(res => {
      //   // handle success
      //   this.getList();
      //   this.post.id_pasien = '';
      //   this.post.katkes = '';
      //   this.post.nama_dokter = '';
      //   this.post.diagnosa = '';
      //   this.post.tgl_permintaan = '';
      //   this.formedit = false;
      //   })
      //   .catch(err => {
      //   // handle error
      //   console.log(err);
      //   })

      // }
      // if(this.sw==='false'){

      //   axios.put(`http://127.0.0.1:8000/api/labklinik/${this.id}`, {
      //   id_pasien: this.update.id_pasien,
      //   katkes: this.update.katkes,
      //   nama_dokter: this.update.nama_dokter,
      //   diagnosa: this.update.diagnosa,
      //   tgl_permintaan: this.update.tgl_permintaan,
      //   })
      //   .then(res => {
      //   // handle success
      //   this.getList();
      //   this.formedit = false;
      //   })
      //   .catch(err => {
      //   // handle error
      //   console.log(err);
      //   })
      // }
    
    },
    handleDelete(row) 
    {
      this.$confirm(`Ini akan menghapus ID ${row} secara permanen. Lanjutkan?`, 'Peringatan',{
      confirmButtonText: 'OK',
      cancelButtonText: 'Cancel',
      type: 'warning'
      }).then(() => 
      {
        
        axios.delete(`http://127.0.0.1:8000/api/labklinik/${row}`)
        .then(res => {
            // handle success
            this.getList();
        })
        .catch(err => {
            // handle error
            console.log(err);
        })
      }).catch(() => {
          // this.tampilkanpesan("error gak bisa hapus");
          this.$message({
          type: 'info',
          message: `Hapus ID ${row} Gagal`
          });
      });
    },

  }
}
</script>
