<template>
  <div class="app-container">
      <h1>Data Pasien</h1>
    <!-- filter -->
    <el-row>
      <el-col :span="20">
        <el-button class="filter-item"  style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="formtambah = true">
        Tambah
        </el-button>

        <router-link target="_blank" to="/rs/download">
          <el-button type="primary">
            print
          </el-button>
        </router-link>
      </el-col>
      
      <el-col :span="4">
        <el-input
        v-model="search"
        size="default"
        class="filter-item"
        style="width: 200px;"
        placeholder="cari nama pasien"/>
      </el-col>
    </el-row>

    <!-- dialog add data -->
    <el-dialog 
    title="Pendaftaran Pasien Baru" 
    :visible.sync="formtambah"
    width="70%"
    :before-close="handleClose"
    >
      <el-form :model="post" :label-position="labelPosition" :rules="rulesform" ref="paramref">
        <el-row>
          <el-col :span="12" class="app-container">
            <el-form-item label="Nama Lengkap" :label-width="formLabelWidth" prop="nama_lengkap">
                <el-input v-model="post.nama_lengkap" placeholder="masukkan nama" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="Tempat Lahir" :label-width="formLabelWidth" prop="tempat_lahir" >
              <el-input v-model="post.tempat_lahir" placeholder="masukkan tempat lahir" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="Tgl Lahir" :label-width="formLabelWidth" prop="tgl_lahir">
              <el-date-picker v-model="post.tgl_lahir" type="date" format="dd-MM-yyyy" value-format="dd-MM-yyyy" placeholder="Masukkan Tgl Lahir" style="width: 100%;"></el-date-picker>
            </el-form-item>
            <!-- {{post.tgl_lahir}} -->

            <el-form-item label="Jenis Kelamin" :label-width="formLabelWidth" prop="jenis_kelamin" >
              <el-radio-group v-model="post.jenis_kelamin">
                <el-radio label="Laki Laki"></el-radio>
                <el-radio label="Perempuan"></el-radio>
              </el-radio-group>
            </el-form-item>

            <el-form-item label="Agama" :label-width="formLabelWidth" prop="agama">

                <el-select v-model="post.agama" placeholder="Pilih Agama">
                    <el-option
                    v-for="item in agama"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Pendidikan" :label-width="formLabelWidth" prop="pendidikan">
                <el-select v-model="post.pendidikan" placeholder="Pilih Pendidikan">
                    <el-option
                    v-for="item in pendidikan"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Pekerjaan" :label-width="formLabelWidth" prop="pekerjaan">

                <el-select v-model="post.pekerjaan" placeholder="Pilih Pekerjaan">
                    <el-option
                    v-for="item in pekerjaan"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12" class="app-container">
            <el-form-item label="Status" :label-width="formLabelWidth" prop="status">

                <el-select v-model="post.status" placeholder="Pilih Status">
                    <el-option
                    v-for="item in status"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            
            <el-form-item 
            label="No.Telepon" 
            :label-width="formLabelWidth" prop="no_telepon"
            >
              <el-input v-model="post.no_telepon" 
              onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="masukkan nomor telepon rumah" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="Alamat" :label-width="formLabelWidth" prop="alamat_lengkap">
              <el-input
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 4}"
              placeholder="Masukkan alamat"
              v-model="post.alamat_lengkap">
              </el-input>
            </el-form-item>

            <el-row :gutter="10">
              <el-col :span="8" :offset="7">
                <el-form-item label="" prop="rt">
                  <el-input v-model="post.rt" type="number" onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="Masukkan RT" autocomplete="off" />
                </el-form-item>
              </el-col>

              <el-col :span="8">
                <el-form-item label="" prop="rw">
                  <el-input v-model="post.rw" type="number" onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="Masukkan RW" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-row :gutter="10">
              <el-col :span="8" :offset="7">
                <el-form-item label="" prop="kelurahan">
                  <el-input v-model="post.kelurahan" placeholder="Masukkan kelurahan" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>

              <el-col :span="8">
              <el-form-item label=""  prop="kecamatan">
                <el-input v-model="post.kecamatan" placeholder="Masukkan kecamatan" autocomplete="off"></el-input>
              </el-form-item>
              </el-col>

              <el-col :span="8" :offset="7">
                <el-form-item label="" prop="kodepos">
                  <el-input v-model="post.kodepos" type="number" onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="Masukkan kode pos" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
                
            <el-form-item label="Jenis Pembayaran" :label-width="formLabelWidth" prop="jenis_pembayaran">
                <el-select v-model="post.jenis_pembayaran" placeholder="Pilih Pembayaran">
                    <el-option
                    v-for="item in pembayaran"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <el-button class="filter-item"  style="margin-left: 10px;" type="primary" @click="PostAdd('paramref')">
        Tambah
      </el-button>
      <span slot="footer" class="dialog-footer" />
        
    </el-dialog>

    <!-- dialog edit data -->
    <el-dialog 
    title="Edit Data" 
    :visible.sync="formedit" 
    width="70%"
    :before-close="handleClose"
    >
      <el-form :model="update" :label-position="labelPosition" :rules="rulesform" ref="paramupd" >
        <el-row>
          <el-col :span="12" class="app-container">
            <el-form-item 
            label="Nama Lengkap" 
            :label-width="formLabelWidth"
            prop="nama_lengkap" >
                <el-input v-model="update.nama_lengkap" placeholder="masukkan nama" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="Tempat Lahir" :label-width="formLabelWidth" prop="tempat_lahir" >
              <el-input v-model="update.tempat_lahir" placeholder="masukkan tempat lahir" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="Tgl Lahir" :label-width="formLabelWidth" prop="tgl_lahir" >
              <el-date-picker v-model="update.tgl_lahir" type="date" format="dd-MM-yyyy" value-format="dd-MM-yyyy" placeholder="Masukkan Tgl Lahir" style="width: 100%;"></el-date-picker>
            </el-form-item>
            <!-- {{post.tgl_lahir}} -->

            <el-form-item label="Jenis Kelamin" :label-width="formLabelWidth" prop="jenis_kelamin" >
              <el-radio-group v-model="update.jenis_kelamin">
                <el-radio label="Laki Laki"></el-radio>
                <el-radio label="Perempuan"></el-radio>
              </el-radio-group>
            </el-form-item>

            <el-form-item label="Agama" :label-width="formLabelWidth" prop="agama">

                <el-select v-model="update.agama" placeholder="Pilih Agama">
                    <el-option
                    v-for="item in agama"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Pendidikan" :label-width="formLabelWidth" prop="pendidikan">
                <el-select v-model="update.pendidikan" placeholder="Pilih Pendidikan">
                    <el-option
                    v-for="item in pendidikan"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Pekerjaan" :label-width="formLabelWidth" prop="pekerjaan">

                <el-select v-model="update.pekerjaan" placeholder="Pilih Pekerjaan">
                    <el-option
                    v-for="item in pekerjaan"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="12" class="app-container">
            <el-form-item label="Status" :label-width="formLabelWidth" prop="status">

                <el-select v-model="update.status" placeholder="Pilih Status">
                    <el-option
                    v-for="item in status"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            
            <el-form-item 
            label="No.Telepon" 
            :label-width="formLabelWidth" prop="no_telepon"
            >
              <el-input v-model="update.no_telepon" 
              onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="masukkan nomor telepon rumah" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="Alamat" :label-width="formLabelWidth" prop="alamat_lengkap">
              <el-input
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 4}"
              placeholder="Masukkan alamat"
              v-model="update.alamat_lengkap">
              </el-input>
            </el-form-item>

            <el-row :gutter="10">
              <el-col :span="8" :offset="7">
                <el-form-item label="" prop="rt">
                  <el-input v-model="update.rt" type="number" onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="Masukkan RT" autocomplete="off" />
                </el-form-item>
              </el-col>

              <el-col :span="8">
                <el-form-item label="" prop="rw">
                  <el-input v-model="update.rw" type="number" onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="Masukkan RW" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-row :gutter="10">
              <el-col :span="8" :offset="7">
                <el-form-item label="" prop="kelurahan">
                  <el-input v-model="update.kelurahan" placeholder="Masukkan kelurahan" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>

              <el-col :span="8">
              <el-form-item label=""  prop="kecamatan">
                <el-input v-model="update.kecamatan" placeholder="Masukkan kecamatan" autocomplete="off"></el-input>
              </el-form-item>
              </el-col>

              <el-col :span="8" :offset="7">
                <el-form-item label="" prop="kodepos">
                  <el-input v-model="update.kodepos" type="number" onkeyup="value=value.replace(/[^\d]/g,0)" placeholder="Masukkan kode pos" autocomplete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
                
            <el-form-item label="Jenis Pembayaran" :label-width="formLabelWidth" prop="jenis_pembayaran">
                <el-select v-model="update.jenis_pembayaran" placeholder="Pilih Pembayaran">
                    <el-option
                    v-for="item in pembayaran"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <el-button class="filter-item"  style="margin-left: 10px;" type="primary" @click="PostUpdate('paramupd')">
        Update
      </el-button>
    <span slot="footer" class="dialog-footer"></span>
    
    </el-dialog>


  <!-- tabel -->
  <el-table
    :data="pagedTableData"
    bordered
    fit
    highlight-current-row
    style="width: 100%;"
    :default-sort="{prop: 'id', order: 'descending'}"
    >
    
    <el-table-column label="ID" min-width="150px" prop="id" sortable >
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.id }}</span>
      </template>
    </el-table-column>
    
    <el-table-column label="Nama lengkap" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.nama_lengkap }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Tempat lahir" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.tempat_lahir }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Tgl lahir" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.tgl_lahir }}</span>
      </template>
    </el-table-column>
    
    <el-table-column label="Jenis Kelamin" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.jenis_kelamin }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Agama" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.agama }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Pendidikan" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.pendidikan }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Pekerjaan" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.pekerjaan }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Status" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.status }}</span>
      </template>
    </el-table-column>

      <el-table-column label="Alamat" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.alamat_lengkap }}</span>
      </template>
    </el-table-column>
    

    <el-table-column label="No.Telepon" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.no_telepon }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Pembayaran" min-width="150px">
      <template slot-scope="{row}">
        <span class="link-type" >{{ row.jenis_pembayaran }}</span>
      </template>
    </el-table-column>
    

    <el-table-column label="Actions" align="center" width="150" fixed="right"
    class-name="small-padding fixed-width">
      <template slot-scope="{row}">

        <el-button
        type="primary"
        size="mini"
        @click="PostEdit(row.id, row.nama_lengkap, row.tempat_lahir, row.tgl_lahir,
        row.jenis_kelamin, row.agama, row.pendidikan, row.pekerjaan, row.status, 
        row.alamat_lengkap, row.rt, row.rw, row.kelurahan, row.kecamatan, row.kodepos, 
        row.no_telepon, row.jenis_pembayaran)"
        >Edit</el-button>
        
        <el-button
        type="danger"
        size="mini"
        @click="handleDelete(row.id)"
        >Delete</el-button>

      </template>
    </el-table-column>
    
  </el-table>

  <!-- pagination -->
  <el-pagination
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="currentPage"
    :page-sizes="[10, 20, 30, 40]"
    :page-size="pagesize"
    layout="total, sizes, prev, pager, next, jumper"
    :total="tableData.length">
  </el-pagination>
    
  </div>
</template>

<script>
import axios from 'axios'

export default {
  components: {},
  data() {

    //validasi
    // rule parameter rules form
    var ceknama = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan nama lengkap'));
      }
    };

    var cektempat = (rule, value, callback) => {
      if (!value.length) {
        return callback(new Error('masukkan tempat lahir'));
      }
    };

    var cektgl = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan tgl lahir'));
      }
    };

    var cekkelamin = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('pilih jenis kelamin'));
      }
    };

    var cekagama = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('pilih agama'));
      }
    };

     var cekpendidikan = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('pilih pendidikan terakhir'));
      }
    };

     var cekpekerjaan = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('pilih pekerjaan terakhir'));
      }
    };

     var cekstatus = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('pilih status'));
      }
    };

     var cektlp = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan nomor telepon'));
      }
    };

     var cekalamat = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan alamat lengkap'));
      }
    };

     var cekrt = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan RT'));
      }
    };

    var cekrw = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan RW'));
      }
    };

    var cekkelurahan = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan kelurahan'));
      }
    };

    var cekkecamatan = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan kecamatan'));
      }
    };

    var cekkodepos = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('masukkan kodepos'));
      }
    };

    var cekjenispembayaran = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('pilih jenis pembayaran'));
      }
    };

    return {
      search: null,
      sortRule:{prop:null, order:null},//sorting
      listLoading: true,
      tableData:[],
      
      currentPage: 1,
      pagesize:10,

      formtambah: false,
      formedit: false,

      labelPosition: 'left',
      formLabelWidth: '152px',
      post: {
        nama_lengkap:'',
        tempat_lahir:'',
        tgl_lahir:'',
        jenis_kelamin:'',
        agama:'',
        pendidikan:'',
        pekerjaan:'',
        status:'',
        no_telepon:'',
        alamat_lengkap:'',
        rt:'',
        rw:'',
        kecamatan:'',
        kelurahan:'',
        kodepos:'',
        jenis_pembayaran:'',
      },
      update: {
        nama_lengkap:'',
        tempat_lahir:'',
        tgl_lahir:'',
        jenis_kelamin:'',
        agama:'',
        pendidikan:'',
        pekerjaan:'',
        status:'',
        no_telepon:'',
        alamat_lengkap:'',
        rt:'',
        rw:'',
        kecamatan:'',
        kelurahan:'',
        kodepos:'',
        jenis_pembayaran:'',
      },

      listQuery: {
        nama_lengkap: undefined,
      },
      agama: [{
        value: 'Islam',
        label: 'Islam'
      }, {
        value: 'Kristen',
        label: 'Kristen'
      }, {
        value: 'Katolik',
        label: 'Katolik'
      }, {
        value: 'Hindu',
        label: 'Hindu'
      }, {
        value: 'Budha',
        label: 'Budha'
      }, {
        value: 'Lain-Lain',
        label: 'Lain-Lain'
      }],
      pendidikan: [{
        value: 'tidak sekolah',
        label: 'tidak sekolah'
      }, {
        value: 'tidak tamat SD',
        label: 'tidak tamat SD'
      }, {
        value: 'SD',
        label: 'SD'
      }, {
        value: 'SMP',
        label: 'SMP'
      }, {
        value: 'SMA/SMK',
        label: 'SMA/SMK'
      },  {
        value: 'Akademi/ D3',
        label: 'Akademi/ D3'
      },  {
        value: 'Sarjana',
        label: 'Sarjana'
      }, {
        value: 'Lain-Lain',
        label: 'Lain-Lain'
      }],
      pekerjaan: [{
        value: 'pegawai negeri',
        label: 'pegawai negeri'
      }, {
        value: 'TNI/POLRI',
        label: 'TNI/POLRI'
      }, {
        value: 'pensiunan',
        label: 'pensiunan'
      }, {
        value: 'swasta',
        label: 'swasta'
      }, {
        value: 'pelajar/mahasiswa',
        label: 'pelajar/mahasiswa'
      }, {
        value: 'Lain-Lain',
        label: 'Lain-Lain'
      }],
      status: [{
        value: 'Belum Menikah',
        label: 'Belum Menikah'
      }, {
        value: 'Nikah',
        label: 'Nikah'
      }, {
        value: 'Janda',
        label: 'Janda'
      }, {
        value: 'Duda',
        label: 'Duda'
      }],
      pembayaran: [{
        value: 'Tunai',
        label: 'Tunai'
      }, {
        value: 'Asuransi lain/ASKES',
        label: 'Asuransi lain/ASKES'
      }, {
        value: 'Jaminan Perusahaan',
        label: 'Jaminan Perusahaan'
      }, {
        value: 'Karyawan/Keluarga',
        label: 'Karyawan/Keluarga'
      }],

      //validasi
      rulesform: {
        nama_lengkap:[{validator: ceknama, required: "true", trigger: 'blur'}],

        tempat_lahir:[{validator: cektempat, required: "true", trigger: 'blur'}],

        tgl_lahir:[{validator: cektgl, required: "true",trigger: 'blur'}],

        jenis_kelamin:[{validator: cekkelamin, required: "true",trigger: 'change'}],

        agama:[{validator: cekagama, required: "true",trigger: 'change'}],

        pendidikan:[{validator: cekpendidikan, required: "true",trigger: 'change'}],

        pekerjaan:[{validator: cekpekerjaan, required: "true",trigger: 'change'}],

        status:[{validator: cekstatus, required: "true",trigger: 'change'}],

        no_telepon:[{validator: cektlp, required: "true",trigger: 'blur'}],

        alamat_lengkap:[{validator: cekalamat, required: "true",trigger: 'blur'}],

        rt:[{validator: cekrt, required: "true",trigger: 'blur'}],

        rw:[{validator: cekrw, required: "true",trigger: 'blur'}],

        kelurahan:[{validator: cekkelurahan, required: "true",trigger: 'blur'}],

        kecamatan:[{validator: cekkecamatan, required: "true",trigger: 'blur'}],

        kodepos:[{validator: cekkodepos, required: "true",trigger: 'blur'}],

        jenis_pembayaran:[{validator: cekjenispembayaran, required: "true",trigger: 'change'}],

      },

    }

    
  },
  computed: {
    pagedTableData() {
      if(this.search){
        //search
        return this.tableData.filter( data => !this.search || data.nama_lengkap.toLowerCase().includes(this.search.toLowerCase()) )
      }
      else{
        //slice data
        return this.tableData.slice(this.pagesize * this.currentPage - this.pagesize, this.pagesize * this.currentPage)
      }
    },

  },
  created() {
    this.getList()
  },
  methods: {
    //sorting
     afterCrudRefresh() {
      if (this.tableData.length > 0) {
          this.oldData.length = 0
          this.tableData.forEach(item => {
          this.oldData.push(item) 
        })
      }
      if (this.$refs.table) this.$refs.table.clearSort()
    },
    sortChange(column) {
      const prop = column.prop
      if (prop) {
        this.proptype = prop
        
        if (column.order === 'ascending') {
          this.tableData = this.tableData.sort(this.ascSortFun)
        } else if (column.order === 'descending') {
          this.tableData = this.tableData.sort(this.desSortFun)
        } else {
          this.oldData.forEach(item => {
          this.tableData.push(item) 
          })
        }
      }
    },
    ascSortFun(a, b) {
      if (!this.isNumber(a[this.proptype])) {
        const aLength = a[this.proptype] === null ? 0 : a[this.proptype].length
        const bLength = b[this.proptype] === null ? 0 : b[this.proptype].length
        return aLength - bLength
      } else {
        return a[this.proptype] - b[this.proptype]
      }
    },
    desSortFun(a, b) {
      if (!this.isNumber(a[this.proptype])) {
        const bLength = b[this.proptype] === null ? 0 : b[this.proptype].length
        const aLength = a[this.proptype] === null ? 0 : a[this.proptype].length
        return bLength - aLength
      } else {
        return b[this.proptype] - a[this.proptype]
      }
    },
    isNumber(val) {
      var regPos = /^\d+(\.\d+)?$/ // 非负浮点数
      var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/ // 负浮点数
      if (regPos.test(val) || regNeg.test(val)) {
        return true
      } else {
        return false
      }
    },
    //sorting

    handleClose(done) {
      this.$confirm('Apakah Anda yakin untuk menutup dialog ini?')
      .then(_ => {
          done();
      })
      .catch(_ => {});
    },
    
    handleSizeChange(size) {
      this.pagesize = size;
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
    },
    
    getList() {
      this.listLoading = true //data loading 
      //get data API with axios
      axios.get('http://127.0.0.1:8000/api/pasien').then(response => {
      this.tableData = response.data.data;
      });
 
      // Just to simulate the time of the request
      setTimeout(() => {
      this.listLoading = false
      }, 1.5 * 1000)
  },
    PostAdd(getparamref) {

      //menampilkan validasi rules
      this.$refs[getparamref].validate((nilaiparam) => {
        //nilai true/false
        if (nilaiparam) {console.log('submit!');}else {console.log('error submit!!'); return false;}
      });
      
      //validasi
      if(this.post.nama_lengkap===''){}
      else if(this.post.tempat_lahir===''){}
      else if(this.post.tgl_lahir===''){}
      else if(this.post.jenis_kelamin===''){}
      else if(this.post.agama===''){}
      else if(this.post.pendidikan===''){}
      else if(this.post.pekerjaan===''){}
      else if(this.post.status===''){}
      else if(this.post.alamat_lengkap===''){}
      else if(this.post.rt===''){}
      else if(this.post.rw===''){}
      else if(this.post.kelurahan===''){}
      else if(this.post.kecamatan===''){}
      else if(this.post.kodepos===''){}
      else if(this.post.no_telepon===''){}
      else if(this.post.jenis_pembayaran===''){}
      else{
        // ...
        axios.post('http://localhost:8000/api/pasien', {
        nama_lengkap: this.post.nama_lengkap,
        tempat_lahir: this.post.tempat_lahir,
        tgl_lahir: this.post.tgl_lahir,
        jenis_kelamin: this.post.jenis_kelamin,
        agama: this.post.agama,
        pendidikan: this.post.pendidikan,
        pekerjaan: this.post.pekerjaan,
        status: this.post.status,
        alamat_lengkap: this.post.alamat_lengkap,
        rt: this.post.rt,
        rw: this.post.rw,
        kelurahan: this.post.kelurahan,
        kecamatan: this.post.kecamatan,
        kodepos: this.post.kodepos,
        no_telepon: this.post.no_telepon,
        jenis_pembayaran: this.post.jenis_pembayaran, })
        .then(res => {
          // handle success
          this.getList();
          this.post.nama_lengkap = '';
          this.formtambah = false;
          console.log('sukses insert!');
        })
        .catch(err => {
          // handle error
          console.log(err);
          console.log('gagal insert!');
        })
      }
      
      
    },

    PostEdit: function(row,nama_lengkap, tempat_lahir, tgl_lahir,
    jenis_kelamin, agama, pendidikan, pekerjaan, status,
    alamat_lengkap, rt, rw,  kelurahan, kecamatan, kodepos,
    no_telepon, jenis_pembayaran) {
      this.formedit = true;
      this.id = row;
      this.update.nama_lengkap = nama_lengkap;
      this.update.tempat_lahir= tempat_lahir;
      this.update.tgl_lahir= tgl_lahir;
      this.update.jenis_kelamin= jenis_kelamin;
      this.update.agama= agama;
      this.update.pendidikan= pendidikan;
      this.update.pekerjaan= pekerjaan;
      this.update.status = status;
      this.update.alamat_lengkap= alamat_lengkap;
      this.update.rt= rt;
      this.update.rw= rw;
      this.update.kelurahan= kelurahan;
      this.update.kecamatan= kecamatan;
      this.update.kodepos= kodepos;
      this.update.no_telepon= no_telepon;
      this.update.jenis_pembayaran= jenis_pembayaran;
    },
    PostUpdate(getparamref) {
       //menampilkan validasi rules
      this.$refs[getparamref].validate((nilaiparam) => {
        //nilai true/false
        if (nilaiparam) {console.log('submit!');}else {console.log('error submit!!'); return false;}
      });
      
      //validasi
      if(this.update.nama_lengkap===''){}
      else if(this.update.tempat_lahir===''){}
      else if(this.update.tgl_lahir===''){}
      else if(this.update.jenis_kelamin===''){}
      else if(this.update.agama===''){}
      else if(this.update.pendidikan===''){}
      else if(this.update.pekerjaan===''){}
      else if(this.update.status===''){}
      else if(this.update.alamat_lengkap===''){}
      else if(this.update.rt===''){}
      else if(this.update.rw===''){}
      else if(this.update.kelurahan===''){}
      else if(this.update.kecamatan===''){}
      else if(this.update.kodepos===''){}
      else if(this.update.no_telepon===''){}
      else if(this.update.jenis_pembayaran===''){}
      else{
        // ....
        axios.put(`http://127.0.0.1:8000/api/pasien/${this.id}`, {
        nama_lengkap: this.update.nama_lengkap,
        tempat_lahir: this.update.tempat_lahir,
        tgl_lahir: this.update.tgl_lahir,
        jenis_kelamin: this.update.jenis_kelamin,
        agama: this.update.agama,
        pendidikan: this.update.pendidikan,
        pekerjaan: this.update.pekerjaan,
        status: this.update.status,
        alamat_lengkap: this.update.alamat_lengkap,
        rt: this.update.rt,
        rw: this.update.rw,
        kelurahan: this.update.kelurahan,
        kecamatan: this.update.kecamatan,
        kodepos: this.update.kodepos,
        no_telepon: this.update.no_telepon,
        jenis_pembayaran: this.update.jenis_pembayaran,
        })
        .then(res => {
          // handle success
          this.getList();
          this.formedit = false;
          this.post.nama_lengkap = '';
          console.log('sukses update!');
        })
        .catch(err => {
          // handle error
          console.log(err);
          console.log('gagal update!');
        })
      }
    },

    handleDelete(row) 
    {
      this.$confirm(`Ini akan menghapus ID ${row} secara permanen. Lanjutkan?`, 'Peringatan',{
      confirmButtonText: 'OK',
      cancelButtonText: 'Cancel',
      type: 'warning'
      }).then(() => 
      {
        // axios.delete(`product/delete/${this.productIdDelete}`)
        axios.delete(`http://127.0.0.1:8000/api/pasien/${row}`)
        .then(res => {
            // handle success
            this.getList();
        })
        .catch(err => {
            // handle error
            console.log(err);
        })
      }).catch(() => {
          // this.tampilkanpesan("error gak bisa hapus");
          this.$message({
          type: 'info',
          message: `Hapus ID ${row} Gagal`
          });
      });
    },

  }
}
</script>
